{% if content.items %}
  <div class="silc-accordion" id="accordion-{{ loop.index }}" data-silc-accordion-animated>
    {% for item in content.items %}
      <div class="silc-accordion__section">
        <button id="accordion-{{ loop.parent.loop.index }}-section-{{ loop.index }}-label" class="silc-accordion__label" aria-controls="accordion-{{ loop.parent.loop.index }}-section-{{ loop.index }}-content">
          {{ item.title }}
          <span class="icon-Circle_Plus_Icon_Solid" aria-hidden="true"></span>
        </button>
        <div class="silc-accordion__content" id="accordion-{{ loop.parent.loop.index }}-section-{{ loop.index }}-content" aria-labelledby="accordion-{{ loop.parent.loop.index }}-section-{{ loop.index }}-label">
          <div class="silc-accordion__content-compartment editor-output">
            {{ item.content }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}