{% if content %}
  <blockquote class="blockquote blockquote--{{ content.style }}{% if content.image %} blockquote--image{% endif %}">
    {% if content.image %}
      <div class="blockquote__photo">
        <img src="{{ content.image.url }}" alt="{{ content.image.alt }}">
      </div>
    {% endif %}
    {% if content.quote %}
      {{ content.quote }}
    {% endif %}
    {% if content.author or content.source %}
      <footer>
        {% if content.author %}
          <span class="blockquote__author">{{ content.author }}</span>
        {% endif %}
        {% if content.source %}
          <span class="blockquote__title">{{ content.source }}</span>
        {% endif %}
      </footer>
    {% endif %}
  </blockquote>
{% endif %}