{% if content %}
  <div class="card card--{{ style|default('default') }}">
    {% if content.image %}
      <div class="card__media">
        <img src="{{ content.image.url }}" alt="{{ content.image.alt }}">
      </div>
    {% endif %}
    <div class="card__compartment">
      <div class="card__content">
        {% if content.title %}
          <h2 class="card__title">{{ content.title }}</h2>
        {% endif %}
        {% if content.sub_title %}
          <span class="card__category">{{ content.sub_title }}</span>
        {% endif %}
        {% if content.text %}
          <div class="card__body">
            {{ content.text }}
          </div>
        {% endif %}
      </div>
      {% if content.link %}
        {% if content.link.title %}
          {% include "helpers/link.twig" with {'link': content.link, 'class': 'cta card__cta'} %}
        {% else %}
          {% include "helpers/link.twig" with {'link': content.link, 'class': 'cta card__cta default-cta'} %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}