{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body outer-pad">
					{{post.content}}
				</div>

			  {% for widget in post.get_field('widgets') %}

			  	<div class="outer-pad">
			    {% include "widgets/" ~ widget.acf_fc_layout ~ ".twig" with {'content': widget } %}
			  	</div>

			  {% endfor %}

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}