/*
 * Theme Name: My Timber Starter Theme
 * Description: Starter Theme to use with Timber
 * Author: Upstatement and YOU!
 * Text Domain: carthage
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #00252E;
  --white: #fff;
  --red: #D0202E;
  --blue: #003C4B;
}

/* fonts attachment*/
@font-face {
  font-family: Scala-Sans-Offc;
  src: url(static/fonts/Scala-Sans-Offc.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Scala-Sans-Offc;
  src: url(static/fonts/Scala-Sans-Offc-Bold.ttf);
  font-weight: 700;
}
/* ending fonts */
/* common classes */
body {
  font-family: Scala-Sans-Offc;
  font-weight: 400;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-size: 3.9825rem;
  font-weight: 700;
  line-height: 68px;
}

h3,
h4 {
  font-weight: 400;
  font-weight: 700;
}

button,
.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.btn {
  padding: 20px 35px;
  text-transform: uppercase;
}

.btn-red {
  background-color: var(--red);
  color: var(--white);
}

.anchorLink {
  display: inline-block;
  color: var(--red);
  text-decoration: underline;
}

.screen-reader-text {
  display: none;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  width: auto;
  max-width: 100%;
}

.list-unstyled {
  list-style-type: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btnRed {
  background-color: var(--red);
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
  max-width: 1193px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img-fluid {
  width: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.text-red {
  color: #D0202E;
}

.text-dark-green {
  color: #00252E;
}

.text-uppercase {
  text-transform: uppercase;
}

.dualRedBlack {
  color: #00252E;
  text-transform: uppercase;
}
.dualRedBlack > .red {
  color: var(--red);
}

.p-0 {
  padding: 0;
}

/* ending common classes */
.header {
  width: 100%;
}

.header-1 {
  background-color: var(--dark-green);
  height: 38px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
}
.header-1 .rightPart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #C3D1D4;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header-1 .rightPart > div {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  position: relative;
  display: flex;
  align-items: center;
}
.header-1 .rightPart > div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 18px;
  width: 1px;
  background-color: #C3D1D4;
  transform: translate(-50%, -50%);
}
.header-1 .rightPart > div > ul {
  list-style-type: none;
  display: flex;
  font-weight: 700;
}
.header-1 .rightPart > div > ul > li {
  padding-left: 0.65rem;
  padding-right: 0.65rem;
}
.header-1 .rightPart > div > ul > li a:hover {
  color: var(--red);
}

.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown > li svg {
  width: 10px;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  list-style-type: none;
  display: none;
}

.header-2 {
  width: 100%;
  height: 71px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 3;
  background: linear-gradient(180deg, #002730 0%, rgba(0, 39, 48, 0) 100%);
}

.mainMenuItemList li {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}
.mainMenuItemList li > a {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.43px;
  text-transform: uppercase;
}

.logoWrapper {
  max-width: 175px;
  position: relative;
  z-index: 4;
}
.logoWrapper img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.menuanchorWrpr {
  transition: 250ms linear;
}
.menuanchorWrpr.fixed {
  position: fixed;
  right: 0;
  z-index: 999;
  animation: fixedAnchor 300ms linear;
  animation-fill-mode: forwards;
}

@keyframes fixedAnchor {
  0% {
    top: -40%;
  }
  100% {
    top: 0;
  }
}
.anchorBtn {
  background-color: var(--red);
  width: 125px;
  height: 71px;
  display: flex;
  align-items: center;
  padding: 15px 25px 15px 10px;
}
.anchorBtn .text {
  font-size: 16px;
  padding-right: 10px;
  color: var(--white);
  text-align: right;
}
.anchorBtn .burgerMenu {
  display: inline-block;
  position: relative;
  height: 3px;
  width: 25px;
  background-color: #fff;
}
.anchorBtn .burgerMenu::after, .anchorBtn .burgerMenu::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
}
.anchorBtn .burgerMenu::before {
  top: -10px;
}
.anchorBtn .burgerMenu::after {
  bottom: -10px;
}

.homePageHero {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background-image: var(--herobg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  margin-top: -71px;
  overflow: hidden;
  /*.wave{
      position: absolute;
      top: 0;
      left: -17%;
      width: 350px;
      height: 100%;
      background-color: var(--white);
      z-index: 2;
  }*/
}
.homePageHero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170.16deg, rgba(207, 250, 250, 0.74) 0%, #93B6BE 100%);
  transition: 1s ease-in;
  /*background: linear-gradient(90deg, rgba(35,197,201,0.3225490879945728) 4%, rgba(0,212,255,0) 100%);*/
}
.homePageHero.hideBg::before {
  opacity: 0;
}
.homePageHero > .container {
  position: relative;
  z-index: 3;
}
.homePageHero .rightNotice {
  position: absolute;
  top: 10%;
  right: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #E0DCD2;
  color: #7A232F;
  font-size: 16px;
  padding: 8px 20px;
  line-height: 1.1;
}
.homePageHero .rightNotice .btn {
  margin-left: 5px;
}
.homePageHero .rightNotice a {
  text-decoration: underline;
}
.homePageHero .waveImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.homePageHero .contentLeft {
  /*position: absolute;*/
  position: relative;
  left: 0;
  margin-top: 15%;
  margin-left: -20%;
  z-index: 3;
}
.homePageHero .contentLeft .title {
  font-size: 5.3125rem;
  text-transform: uppercase;
  line-height: 1;
}
.homePageHero .contentLeft .title .two {
  margin-left: -4rem;
}
.homePageHero .contentLeft .title .three {
  margin-left: -17%;
  display: block;
}
.homePageHero .contentLeft .outline {
  color: var(--white);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111;
  display: block;
}

.bannerBtn {
  font-size: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 20px 35px;
  background-color: var(--red);
  line-height: 21px;
  margin-top: 4rem;
  position: relative;
  transition: 200ms linear;
  z-index: 4;
  /*    opacity: 0;
      transform: translateY(50px);
      transition: 6s transform ease-out;*/
}
.bannerBtn.fadeInUp {
  opacity: 1;
  transform: translateY(0);
}
.bannerBtn:hover {
  background-color: #B20B19;
}

.multiVerticalline {
  display: inline-block;
  position: absolute;
  bottom: 187%;
  left: 0;
  /*margin-top: -80%;*/
  /*    transform: translateY(-20%);*/
  z-index: 1;
}

.heroContent2 {
  margin-top: -15%;
}
.heroContent2 .column {
  padding-left: 15px;
  padding-right: 15px;
}
.heroContent2 .one {
  width: 30%;
}
.heroContent2 .two {
  width: 70%;
}

.heroDualBoxWrpr {
  width: 100%;
  max-width: 855px;
  margin-left: auto;
  position: relative;
  background-color: var(--white);
}
.heroDualBoxWrpr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: #B1C9D2;
  transform: translate(-50%, -50%);
}
.heroDualBoxWrpr > div {
  padding: 70px;
}
.heroDualBoxWrpr .btn {
  padding: 15px;
  width: 280px;
  line-height: 1.1;
}
.heroDualBoxWrpr .title {
  font-size: 30px;
  color: #003C4B;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.homeHeroRightNotice {
  background-color: #FFFFFF;
  color: #003C4B;
  box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.24);
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  padding: 10px 15px;
  position: absolute;
  left: -20%;
  opacity: 0;
  z-index: 5;
  top: 30%;
}
.homeHeroRightNotice::before {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 20px;
  height: 100%;
  background-image: url(static/images/right-corner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.homeHeroRightNotice a {
  font-size: 18px;
  color: var(--red);
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}
.homeHeroRightNotice a .underline {
  text-decoration: underline;
}
.homeHeroRightNotice .cricledBtn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 2.125rem;
  background-color: #00252E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.afterHeroContF {
  position: relative;
}
.afterHeroContF .wave2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.afterHero {
  padding-bottom: 12rem;
  position: relative;
}
.afterHero .column {
  padding-left: 15px;
  padding-right: 15px;
}
.afterHero .column.one {
  width: 25%;
  padding-top: 15%;
}
.afterHero .column.two {
  width: 35%;
  padding-top: 15%;
}
.afterHero .column.three {
  width: 40%;
}
.afterHero .testimonialWrpr {
  font-size: 28px;
  color: #001E26;
  line-height: 50.12px;
  position: relative;
}
.afterHero .testimonialWrpr .quoteImg {
  position: absolute;
  top: 0;
  right: 105%;
}
.afterHero .author {
  font-size: 16px;
  color: #003C4B;
  line-height: 26px;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}
.afterHero .author .lineBefore {
  width: 77px;
  height: 1px;
  background-color: #6BA2B8;
  display: block;
  margin-right: 20px;
}
.afterHero .imgWrpr {
  width: 100%;
  max-width: 435px;
  padding-bottom: 127.25%;
  background-image: var(--imgWrprBg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: -13px 10px 40px -16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 2;
}
.afterHero .imgWrpr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 90%;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.afterHero .imgWrpr .bottomBtn {
  position: absolute;
  bottom: 17px;
  left: 0;
  background-color: #003C4B;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  /*overflow-y: hidden;*/
  width: auto;
  height: 43px;
  font-family: Scala-Sans-Offc;
  padding: 5px 15px;
  margin-left: -35%;
  transition: 250ms linear;
}
.afterHero .imgWrpr .bottomBtn::before {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 11px;
  height: 101%;
  background-image: url(static/images/img-btn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.afterHero .imgWrpr .bottomBtn .hoverText {
  font-size: 18px;
  color: #fff;
  transition: 150ms linear;
}
.afterHero .imgWrpr .bottomBtn .plusSign {
  font-weight: 700;
  font-size: 21px;
  transition: 150ms linear;
  margin-left: 20px;
}
.afterHero .imgWrpr .bottomBtn:hover {
  margin-left: 0;
}
.afterHero .imgWrpr .bottomPopup {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-right: 2.5rem;
  background-color: #003C4B;
  color: #fff;
  position: absolute;
  bottom: 17px;
  left: 0;
  right: 0;
  line-height: 1.3;
  display: none;
}
.afterHero .imgWrpr .bottomPopup.open {
  display: block;
}
.afterHero .imgWrpr .bottomPopup .closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
}

.accordContF {
  height: 170vh;
  background-image: linear-gradient(180deg, #002933 4%, #00303c 51%, rgba(0, 60, 75, 0) 100%), var(--accorBg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  position: relative;
  padding-top: 5.625rem;
}
.accordContF .rightContent {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 95px 140px 52px;
  background-color: #fff;
  max-width: 450px;
  font-size: 18px;
  color: #003C4B;
}
.accordContF .rightContent .title {
  line-height: 68.44px;
  text-transform: uppercase;
  margin-bottom: 4.375rem;
}
.accordContF .rightContent .p1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 33px;
  margin-bottom: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}
.accordContF .rightContent .p2 {
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.accordContF .rightContent .content {
  position: relative;
  z-index: 2;
}
.accordContF .accrodionWrapper {
  max-width: 800px;
}
.accordContF .btnWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.accordContF .btnWrapper::before {
  content: "";
  position: absolute;
  top: 110%;
  width: 100%;
  height: 1px;
  left: -15px;
  background-color: #6BA2B8;
}
.accordContF .btnWrapper > button {
  font-size: 21px;
  color: #3AB0C8;
  letter-spacing: 1.75px;
  text-align: left;
  padding: 15px;
  line-height: 35px;
  position: relative;
}
.accordContF .btnWrapper > button.active {
  color: #fff;
}
.accordContF .btnWrapper > button.active::before {
  content: "";
  position: absolute;
  top: 107%;
  left: 0;
  right: 0;
  width: 80%;
  height: 6px;
  background-color: #fff;
}
.accordContF .btnWrapper > button > span {
  display: block;
}
.accordContF .btnWrapper > button:hover {
  color: #fff;
}
.accordContF .contentWrapper {
  font-size: 18px;
  letter-spacing: 0;
  color: #e9e9e9;
  line-height: 30px;
  display: none;
  /*display: none;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordContF .contentWrapper.active {
  margin-top: 4rem;
  display: flex;
  max-height: 100%;
  overflow: visible;
}
.accordContF .contentWrapper > .left {
  width: 65%;
  padding-right: 4rem;
  padding-top: 2rem;
}
.accordContF .contentWrapper > .right {
  width: 35%;
}
.accordContF .contentWrapper a {
  text-decoration: underline;
  margin-top: 1rem;
  display: inline-block;
  color: #A1DBE7;
}
.accordContF .contentWrapper a:hover {
  color: #fff;
}
.accordContF .contentWrapper h3 {
  font-size: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.accordContF .bottomRightSticker {
  font-size: 22px;
  position: absolute;
  bottom: 10%;
  right: 0;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
}
.accordContF .bottomRightSticker .block {
  color: #00232B;
  background-color: #3AB0C8;
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;
  padding: 5px 10px;
}
.accordContF .rightWave {
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: 1;
}

.accordContF2 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
}
.accordContF2 .wave2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.accordContF2 .title {
  color: var(--dark-green);
  text-transform: uppercase;
}
.accordContF2 .title > span {
  display: block;
  color: var(--red);
}
.accordContF2 .accrodionWrapper {
  width: 100%;
}
.accordContF2 .accrodionWrapper .contentWrapper {
  width: 100%;
  display: none;
  font-size: 18px;
  color: var(--blue);
  align-items: center;
}
.accordContF2 .accrodionWrapper .contentWrapper.active {
  display: flex;
}
.accordContF2 .accrodionWrapper .contentWrapper a {
  color: var(--red);
  text-decoration: underline;
}
.accordContF2 .accrodionWrapper .contentWrapper .link {
  margin-top: 2rem;
}
.accordContF2 .accrodionWrapper .contentWrapper .left {
  width: 45%;
  padding-right: 10px;
}
.accordContF2 .accrodionWrapper .contentWrapper .right {
  width: 55%;
  padding-left: 10px;
}
.accordContF2 .accrodionWrapper .contentWrapper .badge > span {
  background-color: #F4F2EE;
  color: #003C4B;
  letter-spacing: 1.33px;
  display: inline-block;
  padding: 3px 2px;
  line-height: 35px;
}
.accordContF2 .accrodionWrapper .contentWrapper .didYouknwoCotent {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}
.accordContF2 .accrodionWrapper .contentWrapper .didYouknwoCotent .bigger {
  font-size: 54px;
  letter-spacing: 0;
  color: #003C4B;
  margin-right: 10px;
}
.accordContF2 .btnWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.accordContF2 .btnWrapper::before {
  content: "";
  position: absolute;
  top: 110%;
  width: 100%;
  height: 1px;
  left: -15px;
  background-color: #6BA2B8;
}
.accordContF2 .btnWrapper > button {
  font-size: 21px;
  color: var(--blue);
  letter-spacing: 1.75px;
  text-align: left;
  padding: 15px;
  line-height: 35px;
  position: relative;
}
.accordContF2 .btnWrapper > button.active {
  color: var(--red);
}
.accordContF2 .btnWrapper > button.active::before {
  content: "";
  position: absolute;
  top: 107%;
  left: 0;
  right: 0;
  width: 80%;
  height: 6px;
  background-color: var(--red);
}
.accordContF2 .btnWrapper > button > span {
  display: block;
}
.accordContF2 .btnWrapper > button:hover {
  color: var(--red);
}

.boxLinkWrpr {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #6BA2B8;
  margin-bottom: -80px;
  margin-top: 3.2rem;
  position: relative;
  z-index: 4;
}
.boxLinkWrpr .title {
  font-size: 1.875rem;
  margin-bottom: 0.65rem;
}
.boxLinkWrpr .btnWrpr {
  display: flex;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}
.boxLinkWrpr .btnWrpr .btn {
  width: auto;
  min-width: 235px;
  background-image: linear-gradient(221.47deg, #D0202E 0%, #D0202E 100%);
  transition: 250ms background linear;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.boxLinkWrpr .btnWrpr .btn:hover {
  background-image: linear-gradient(221.47deg, #D0202E 0%, #7A232F 100%);
}
.boxLinkWrpr .content {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.boxLinkWrpr .content .before {
  color: #003C4B;
}
.boxLinkWrpr .content ul {
  color: var(--red);
}
.boxLinkWrpr .content ul li {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.boxLinkWrpr .content ul li::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 10px;
  width: 0;
  height: 1px;
  background-color: #00819C;
  transition: 250ms;
}
.boxLinkWrpr .content ul li:hover::before {
  width: 80%;
}
.boxLinkWrpr .content ul li a:hover {
  color: #00819C;
}

.afterBoxLinkWrpr {
  background-image: linear-gradient(180deg, rgba(244, 248, 250, 0) 0%, #E5ECF0 100%), var(--afterBoxBg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  position: relative;
}
.afterBoxLinkWrpr .spacer {
  padding-top: 35%;
  padding-bottom: 15rem;
}
.afterBoxLinkWrpr .rightWave {
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  z-index: 1;
}

.hangoutWrprContF {
  /*background-image: linear-gradient(180deg, rgba(244,248,250,0) 0%, #E5ECF0 100%);*/
  /*margin-top: -5%;*/
}

.hangoutWrpr {
  /*margin-top: -23%;*/
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  position: relative;
  background-color: #fff;
  z-index: 2;
}
.hangoutWrpr .columnWrpr {
  position: relative;
}
.hangoutWrpr .columnWrpr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  background-color: #6BA2B8;
}
.hangoutWrpr .mainTitle {
  font-size: 3.125rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.hangoutWrpr .row .column {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.hangoutWrpr .row .column .title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 2.375rem;
}
.hangoutWrpr .contentRow {
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}
.hangoutWrpr .contentRow .newsThumb,
.hangoutWrpr .contentRow .newsContent {
  padding-left: 15px;
  padding-right: 15px;
}
.hangoutWrpr .contentRow .newsThumb {
  min-width: 140px;
  height: 140px;
  background-image: var(--nthumb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangoutWrpr .contentRow .newsContent {
  font-size: 29px;
  color: #003C4B;
}
.hangoutWrpr .contentRow .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hangoutWrpr .eventRow {
  margin-bottom: 1.5rem;
  align-items: center;
  position: relative;
}
.hangoutWrpr .eventRow .dateWrpr,
.hangoutWrpr .eventRow .descp {
  padding-left: 15px;
  padding-right: 15px;
}
.hangoutWrpr .eventRow .dateWrpr {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  min-width: 80px;
}
.hangoutWrpr .eventRow .dateWrpr .number {
  font-size: 42px;
}
.hangoutWrpr .eventRow .descp {
  font-size: 20px;
  color: #003C4B;
  width: 80%;
}
.hangoutWrpr .eventRow .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.eventFooter hr {
  height: 1px;
  background-color: transparent;
  border-color: #B1C9D2;
}
.eventFooter .linkWrpr {
  margin-top: 1.875rem;
}
.eventFooter .linkWrpr a {
  margin-right: 20px;
  color: var(--red);
  text-decoration: underline;
}

.athleticWrpr {
  background-color: #F7F6F3;
  padding: 15px;
  align-items: center;
  margin-top: 42px;
}
.athleticWrpr > div {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.athleticWrpr > div img {
  display: block;
}
.athleticWrpr .athletTitle {
  font-size: 1.8125rem;
  color: #003C4B;
  margin-bottom: 1rem;
}
.athleticWrpr a {
  text-decoration: none;
  margin-right: 5px;
}

.socialContF {
  background-image: var(--bgImg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4.2rem;
  position: relative;
  z-index: 2;
}
.socialContF .socialGridRow .column {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.socialContF .gridWrpr {
  width: 100%;
  flex-wrap: wrap;
  margin-top: -5rem;
}
.socialContF .gridWrpr > div {
  flex: 1 1 50%;
  background-color: #fff;
  height: 320px;
  padding: 60px 74px;
  background-repeat: no-repeat;
  background-size: cover;
}
.socialContF .gridWrpr .one {
  color: #003C4B;
}
.socialContF .gridWrpr .one h3 {
  font-size: 19px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.footer .footerContF {
  background-color: #F7FBFC;
  padding-top: 4.0625rem;
  padding-bottom: 3rem;
  position: relative;
}
.footer .footerRightLine {
  position: absolute;
  right: 0;
  top: 22%;
}
.footer .mainRow {
  justify-content: space-between;
}
.footer .column {
  padding-left: 15px;
  padding-right: 15px;
}
.footer .column-first {
  width: 23%;
}
.footer .column-first .quicklink {
  color: #003C4B;
  line-height: 18px;
  font-weight: 700;
  margin-top: 1.5rem;
}
.footer .column-first .quicklink li {
  margin-right: 1.5rem;
}
.footer .column-last {
  width: 42%;
}
.footer .footerLogo {
  display: inline-block;
  margin-bottom: 3rem;
}
.footer address {
  color: #000000;
  line-height: 26px;
  font-style: normal;
}
.footer .topLink {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 1.57px;
  margin-bottom: 2rem;
}
.footer .topLink li:not(last-child) {
  margin-right: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer .multiLink {
  column-count: 3;
  column-gap: 1rem;
  color: #003C4B;
  font-weight: 700;
}
.footer .socialList {
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 4rem;
}
.footer .socialList li {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .socialList li a {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 150ms linear;
}
.footer .socialList li a:hover {
  background-color: #003C4B;
}
.footer a:hover {
  color: var(--red);
}

.copyRightContF {
  background-color: #003C4B;
  padding-top: 13px;
  padding-bottom: 10px;
}
.copyRightContF ul {
  justify-content: center;
  align-items: center;
}
.copyRightContF ul li {
  padding-left: 20px;
  padding-right: 20px;
  color: #C3D1D4;
  font-size: 15px;
  line-height: 18px;
}

.modelWrapper {
  position: fixed;
  top: 50%;
  left: 0;
  padding: 4rem;
  max-width: 1340px;
  background-color: #fff;
  transform: translateY(-50%);
  color: #003C4B;
  z-index: 55;
  display: none;
  opacity: 0;
  transition: 300ms;
}
.modelWrapper.open {
  display: block;
  opacity: 1;
}
.modelWrapper .closeBtn {
  position: absolute;
  top: 0;
  right: 3rem;
  display: flex;
  align-items: center;
}
.modelWrapper .title {
  font-size: 29px;
  color: #003C4B;
}
.modelWrapper .row {
  flex-wrap: wrap;
}
.modelWrapper .row .column {
  padding-left: 15px;
  padding-right: 15px;
}
.modelWrapper .row .column.one {
  width: 100%;
}
.modelWrapper .row .column.two {
  width: 32%;
}
.modelWrapper .row .column.three {
  width: 68%;
}

@media screen and (min-width: 1600px) {
  .heroContent2 {
    margin-top: -13%;
  }
}
@media screen and (max-width: 1300px) {
  .footer .topLink {
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .footer .footerRightLine {
    position: relative;
    top: unset;
  }
}
@media screen and (max-width: 1145px) {
  h1, h2 {
    font-size: 2.983rem;
  }

  .dualRedBlack {
    line-height: 1.1;
  }

  .multiVerticalline {
    bottom: 135%;
  }

  .heroDualBoxWrpr .btn {
    width: 265px;
  }
}
@media screen and (max-width: 991px) {
  .menuNav {
    display: none;
  }

  .homePageHero {
    height: auto;
    max-height: 100%;
  }

  .homePageHero > .container {
    text-align: center;
  }

  .homePageHero .contentLeft .title {
    font-size: 4.313rem;
  }

  .homePageHero .contentLeft {
    margin-left: 15px;
  }

  .homePageHero .contentLeft .title .three {
    margin-left: 0;
  }

  .homePageHero .contentLeft .title .two {
    margin-left: 0;
  }

  .multiVerticalline {
    display: none;
  }

  .bannerBtn {
    padding: 14px 22px;
    margin-top: 1rem;
    font-size: 15px;
    line-height: 14px;
  }

  .heroContent2 {
    margin-top: 0;
    padding-top: 2rem;
  }
  .heroContent2 > .row {
    flex-wrap: wrap;
  }
  .heroContent2 .one {
    width: 100%;
    text-align: center;
  }
  .heroContent2 .two {
    width: 100%;
  }
  .heroContent2 .three {
    width: 50%;
  }

  .heroDualBoxWrpr {
    flex-wrap: wrap;
  }

  .heroDualBoxWrpr > div {
    width: 50%;
  }

  .heroDualBoxWrpr::before {
    display: none;
  }

  .afterHero .testimonialWrpr {
    font-size: 22px;
    line-height: 30px;
  }

  .accordContF .accrodionWrapper {
    max-width: 100%;
  }

  .accordContF .rightContent {
    position: relative;
    top: unset;
    right: unset;
    max-width: 100%;
    padding: 25px;
  }

  .accordContF .rightWave {
    z-index: -1;
  }

  .accordContF .rightContent .title {
    margin-bottom: 20px;
  }

  .accordContF .rightContent .title span {
    display: inline-block;
  }

  .hangoutWrpr .contentRow .newsContent {
    font-size: 24px;
  }

  .socialContF .socialGridRow .column {
    width: 100%;
  }

  .socialContF .socialGridRow {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 2rem;
  }

  .heroDualBoxWrpr .title {
    font-size: 20px;
  }

  .boxLinkWrpr .btnWrpr {
    flex-wrap: wrap;
  }
  .boxLinkWrpr .btnWrpr .btn {
    margin-bottom: 5px;
  }

  .boxLinkWrpr .content {
    flex-wrap: wrap;
  }

  .hangoutWrpr .mainTitle {
    font-size: 2.1rem;
  }

  .hangoutWrpr .columnWrpr::before {
    display: none;
  }
  .hangoutWrpr .columnWrpr > .row {
    flex-wrap: wrap;
  }
  .hangoutWrpr .columnWrpr > .row .column {
    width: 100%;
  }

  .hangoutWrpr .contentRow .newsThumb {
    width: 35%;
  }

  .hangoutWrpr .contentRow .newsContent {
    width: 65%;
  }

  .accordContF2 .btnWrapper {
    flex-wrap: wrap;
  }

  .accordContF2 .btnWrapper > button,
.accordContF .btnWrapper > button {
    font-size: 16px;
    line-height: 24px;
  }

  .accordContF2 .btnWrapper > button.active::before {
    top: 92%;
  }

  .accordContF2 .accrodionWrapper .contentWrapper {
    flex-wrap: wrap;
  }

  .hangoutWrpr .contentRow .newsContent {
    font-size: 20px;
  }

  .athleticWrpr {
    flex-wrap: wrap;
  }

  .athleticWrpr > div {
    width: 100%;
  }

  .athleticWrpr .athletTitle {
    margin-top: 1rem;
  }

  .footer .topLink {
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 8px;
  }

  .footer .mainRow {
    flex-wrap: wrap;
  }

  .footer .column-first {
    width: 50%;
  }

  .footer .column-last {
    width: 50%;
  }

  .footer .multiLink {
    column-count: 2;
  }

  .copyRightContF ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.75rem;
  }

  .header-1 .rightPart {
    display: none;
  }

  .homePageHero .waveImg {
    left: -75%;
    display: none;
  }

  .homePageHero .rightNotice {
    top: 12%;
  }

  .homePageHero .contentLeft {
    margin-top: 32%;
  }
  .homePageHero .contentLeft .title {
    font-size: 3.1rem;
  }

  .heroDualBoxWrpr {
    background-color: transparent;
  }
  .heroDualBoxWrpr > div {
    padding: 15px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
  }
  .heroDualBoxWrpr .btn {
    width: auto;
  }

  .afterHero .row {
    flex-wrap: wrap;
  }
  .afterHero .column.one {
    width: 100%;
  }
  .afterHero .column.two {
    width: 100%;
    margin-bottom: 2rem;
  }
  .afterHero .column.three {
    width: 100%;
  }

  .accordContF {
    height: auto;
    padding-bottom: 1rem;
  }

  .accordContF2 .accrodionWrapper .contentWrapper .left,
.accordContF .contentWrapper > .left,
.accordContF .contentWrapper > .right,
.accordContF2 .accrodionWrapper .contentWrapper .right,
.hangoutWrpr .contentRow .newsThumb,
.hangoutWrpr .contentRow .newsContent {
    width: 100%;
  }

  .accordContF .contentWrapper > .left {
    padding-right: 0;
  }

  .accordContF .contentWrapper {
    flex-wrap: wrap-reverse;
  }

  .accordContF .bottomRightSticker {
    position: relative;
    font-size: 18px;
    flex-wrap: wrap;
  }

  .hangoutWrpr .contentRow {
    flex-wrap: wrap;
  }

  .hangoutWrpr .contentRow .newsContent {
    text-align: center;
  }

  .accordContF2 .accrodionWrapper .contentWrapper .left,
.accordContF2 .accrodionWrapper .contentWrapper .right {
    width: 100%;
  }

  .footer .column-first,
.footer .column-last {
    width: 100%;
  }

  .footer .column-first {
    margin-bottom: 1rem;
  }

  .footer .column-last {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 380px) {
  .logoWrapper img {
    max-width: 125px;
  }

  .homePageHero .contentLeft {
    margin-top: 38%;
  }

  .afterHero .imgWrpr .bottomBtn {
    margin-left: -44%;
  }
}
@media screen and (min-width: 1600px) {
  .heroContainer1,
.heroContent2,
.afterHero {
    max-width: 1450px;
  }
}

/*# sourceMappingURL=style.css.map */
